@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.context-menu {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    min-width: 270px;
    font-family: 'Roboto', sans-serif;
    z-index: calc(infinity);
    user-select: none;
}

.context-menu ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.context-menu .menu-item {
    padding: 7px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.context-menu .menu-item:hover {
    background-color: #f0f0f0;
}

.context-menu hr {
    margin: 5px 0;
    border: none;
    border-top: 0.5px solid #ddd;
}
